<div class="container-fluid container-tablet">

  <form class="navbar-form" ng-submit="newSearch()">

    <div class="form-group">
      <label for="device">Device ID: </label>
      <input type="text" ng-model="searchOptions.device" class="form-control" placeholder="ws1">
    </div>

    <div class="form-group">
      <label for="device">Date: </label>
      <input type="text" ng-model="searchOptions.from" class="form-control" placeholder="From 'YYYY-MM-DD'">
      <input type="text" ng-model="searchOptions.to" class="form-control" placeholder="To 'YYYY-MM-DD'">
    </div>

    <div class="form-group">
      <label for="device">Sort: </label>
      <input type="text" ng-model="searchOptions.sort" class="form-control" placeholder="-created, temperature">
    </div>

    <div class="form-group">
      <label for="submit"></label>
      <button type="submit" ng-click="newSearch()" ng-disabled="loading">Fetch</button>
    </div>

    <div class="form-group" ng-show="error" style="color: red;">
      <label>Error</label>
      <pre style="display: inline-flex;">{{error | json}}</pre>
    </div>

  </form>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <div google-chart chart="CDTemperature"></div>
    </div>
    <div class="col-md-6">
      <div google-chart chart="CDHumidity"></div>
    </div>
    <div class="col-md-6">
      <div google-chart chart="CDUV"></div>
    </div>
    <div class="col-md-6">
      <div google-chart chart="CDCO2"></div>
    </div>
  </div>
</div>
